<h1>Countries Population By Year</h1>
<div>
  <div class="chart-container">
    <highcharts-chart
      class="chart"
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      [(update)]="updateFlag"
    >
    </highcharts-chart>
  </div>
  <div class="play-controls">
    <button
      class="play-button"
      title="{{ buttonConfig.title }}"
      (click)="playButtonClicked()"
    >
      <fa-icon [icon]="buttonConfig.icon"></fa-icon>
    </button>
    <mat-slider
      [min]="rangeInputConfig.start"
      [max]="rangeInputConfig.end"
      [step]="1"
    >
      <input
        matSliderThumb
        [ngModel]="selectedYear"
        (ngModelChange)="inputValueChanged($event)"
      />
    </mat-slider>
  </div>
</div>
